<div class="page-header">
  <h2>Sort by Date</h2>
    <p>Hover over the dates in the timeline to see the link to the artwork.</p>
</div>
<div class="page-content">

<div class="container">
  <div class="row vertical-divider">
  <% @Projects.each_with_index do |project1, i| %>
    <div class="col-md-6 timeline-column"> <!-- left content div-->
      <nav class="hover-effect cl-effect-16" id="<%= cycle("timeline-year-left", "timeline-year-right", :name => "first_cycler") -%>"><%= link_to project1.date_began.strftime("%Y"), project1, :class => "click-into-show-link", :data=>{"hover" => project1.date_began.strftime("%Y")} %>
      </nav>
      <p class="<%= cycle("timeline-title-left", "timeline-title-right", :name => "second_cycler") -%>" >
      <%= project1.author %><br>
      <%= project1.title %><br>
      </p>
    </div> <!-- end left content div-->

    <% if ((i+1) % 2) == 0 %>
    </div>
  <div class="row vertical-divider">

    <% else %>
    <div class="col-md-6 timeline-column"> <!--empty right div-->
      <Br>
    </div> <!-- end empty right div-->
  </div><!--end row-->
  <div class="row vertical-divider">
    <div class="col-md-6 timeline-column"> <!--empty LEFT div-->
      <Br>
    </div><!--end empty Left div-->
  <% end %>
  <% end %>
</div>