<%= form_for(@event) do |f| %>

<div class = "create_new_product_form">
  <div class="form-group-container">
    <form>
      <h4>Name of Event</h4><br>
        <div class="form-group row">
          <%= f.label :name, class: "col-sm-2 col-form-label"%>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control resizedField", placeholder: "Name of Event" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :host, class: "col-sm-2 col-form-label"%>
          <div class="col-sm-10">
            <%= f.text_field :host, class: "form-control resizedField", placeholder: "Institutions, organisers" %>
          </div>
        </div>


        <div class="form-group row">
          <%= f.label :location, class: "col-sm-2 col-form-label"%>
          <div class="col-sm-10">
            <%= f.text_field :location, class: "form-control resizedField", placeholder: "Where it took place..." %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :website, class: "col-sm-2 col-form-label"%>
          <div class="col-sm-10">
            <%= f.text_field :website, class: "form-control resizedField", placeholder: "Official Website Link" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :description, class: "col-sm-2 col-form-label"%>
          <div class="col-sm-10">
          <%= f.text_area :description, class: "form-control resizedTextBox", placeholder: "Add short summary here..." %>
          </div>
        </div>

     <h4>Dates/Times</h4><br>
      <div class="form-group row">
        <%= f.label :date_began, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.text_field :date_began, class: "form-control datetimepicker resizedField", :data => { :provide => :datetimepicker }  %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :date_ended, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.text_field :date_ended, class: "form-control datetimepicker resizedField", :data => { :provide => :datetimepicker }  %>
        </div>
      </div>
      
      <div class="form-group row">
        <%= f.label "Is this event recurring?", class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.check_box :recurring %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :image_url, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.text_field :image_url, class: "form-control resizedField", type: "url", placeholder: "Image URL 1" %>
        </div>
      </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>

    <% end %>
