<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Order Information </h2> 
<br>
  <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading">Product Name:
      </div>
      <div class="panel-body"><%= @order.product.name %>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Placed by:
      </div>
      <div class="panel-body"><%= @order.user.email %>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Price:
      </div>
      <div class="panel-body"><%= number_to_currency(@order.total) %>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Ordered at:
      </div>
      <div class="panel-body"><%= @order.created_at %>
      </div>
    </div>
<br>
<%= link_to orders_path, class: "btn btn-large btn-default" do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
<% end %>
  </div>
</div>
