
  <% @projects.each do |project| %>
    <div>
      <div class="flex-container">
        <div class = "flex-item-image">
          <%= image_tag(project.img2_url, :class =>"product_image_thumbnail") %>
          <br>
          <% if user_signed_in? %>
            <nav class="hover-effect cl-effect-16 click-into-show-link">
            <%= link_to 'Edit', edit_project_path(project), :class => "click-into-show-link", :data=>{"hover" => 'Edit'} %> 
            </nav> 
          <% if current_user.has_role? :admin %>
            <nav class="hover-effect cl-effect-16 click-into-show-link">
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?'}, :class => "click-into-show-link", :data=>{"hover" => 'Destroy'} %>
            </nav> 
          <% end %>
        <% end %>
        </div>
        <!-- /.flex-item-->
        <div class = "flex-item-text">
          <div class = "title-text">
            <%= project.title %><br>
            <%= project.author %><br>
            <% if project.date_ended.present? %>
              <%= project.date_began.to_formatted_s(:long_ordinal) %> - <%= project.date_ended.to_formatted_s(:long_ordinal)  %>
            <% else %>
            <%= project.date_began.strftime("%Y") %>
            <% end %>
          </div>
            <br>
          <div>
            <div class="index-desc-text"> <%= project.description %>
          </div> 
          </div>
          <div>
            <nav class="hover-effect cl-effect-16 click-into-show-link">
          <%= link_to '[Click to Read More]', project, :class => "click-into-show-link", :data=>{"hover" => '[Click to Read More]'} %> 
          </nav>
        </div>
        <!-- /.flex-item--></div>
      <!--/.flex-container--></div>
    </div>
  <% end %>