<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="page-content">
    <div class="page-header">
      <h2>Recommended Sources</h2>
    </div>
    <div class="sources-container">
      <ul class="sources-row">
        <li class="hover-effect cl-effect-16">
          <a href="http://www.furtherfield.org/" target="_blank" data-hover="Furtherfield.org" class="source-highlight" rel="nofollow">Furtherfield.org</a>
          <p>Based in London, UK. Artist-led organisation that through creative and critical engagement with practices in art and technology, hopes to inspire and enable people to become active co-creators of their cultures and societies.
          </p>
        </li>
        <li class="hover-effect cl-effect-16">
          <a href="http://www.rubyonrails.org/" target="_blank" data-hover="Netartnet.net" class="source-highlight" rel="nofollow">Netartnet.net
          </a>
            <p>netartnet.net is an online-gallery listing and directory. The archive contains current, past and future exhibitions with dates, links, and press releases.
            </p>
        </li>
        <li class="hover-effect cl-effect-16">
          <a href="http://www.rubyonrails.org/" target="_blank" data-hover="Museums on the Web" class="source-highlight" rel="nofollow">Museums on the Web
          </a>
          <p>museumsandtheweb.com is a collaborative space for professionals creating culture, science and heritage on-line. Hosts the the annual Museums and the Web conference, the leading international conference in the field of museums and their websites. 
          </p>
        </li>
      </ol>
    </div>
    <div class="page-header">
      <h2>Recommended Readings</h2>
    </div>
    <div class="container">
    </div>
    <ol class="biblio-container">
      <% @refs.each do |ref| %>
        <div class="row biblio-row">
          <div class="col-md-10">
            <li class="hover-effect cl-effect-16"> 
              <%= ref.last_name %>, <%= ref.first_name %>. <u><%= link_to ref.title, ref.pdf_url, :class => "link-highlight", :data=>{"hover" => ref.title} %>"</u> <%= ref.publisher %>, <%= ref.format %>. <%= ref.year_published %>
          </div>
          <div class="col-md-2">
            <div class="dropdown">
              <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown">Options
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><%= link_to 'Show', ref %></li>
                <li><%= link_to 'Edit', edit_ref_path(ref) %></li>
                <li><%= link_to 'Destroy', ref, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </div>
          </div>
          </li>
        </div>
        <% end %>
      </ol>
      </div>
    </div>



<br>

<%= link_to 'New Ref', new_ref_path %>
