<p id="notice"><%= notice %></p>

<h1>Refs</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Year published</th>
      <th>Publisher</th>
      <th>Format</th>
      <th>Pdf url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @refs.each do |ref| %>
      <tr>
        <td><%= ref.first_name %></td>
        <td><%= ref.last_name %></td>
        <td><%= ref.year_published %></td>
        <td><%= ref.publisher %></td>
        <td><%= ref.format %></td>
        <td><%= ref.pdf_url %></td>
        <td><%= link_to 'Show', ref %></td>
        <td><%= link_to 'Edit', edit_ref_path(ref) %></td>
        <td><%= link_to 'Destroy', ref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ref', new_ref_path %>
